*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

main{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

h1{
    padding:1rem 2rem;
    background-color:grey;
    color:white;
    border-radius:1rem;
}
button{
    padding:1rem 2rem;
    font-size:1.4rem;
    border-radius:1rem;
    cursor:pointer;
    margin-top:1rem;
    border:none;
    outline:none;
    transition:back 0.4s
}

button:hover{
    background-color:white;

}