*{
    box-sizing:border-box;
    padding:0;
    margin:0;

}
a{
    text-decoration:nine;
    color:white;

}


.header{
    position:header;
    min-height:100vh;
    background:url("https://images.pexels.com/photos/6414317/pexels-photo-6414317.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    color:white;
}   

.container{
    max-width:1200px;
    margin:auto;
    width:90%;

}

.nav{
    min-height:8vh;
    display:flex;
    justify-content:space-between;

}

.nav-items{
    width:40%;
    display:flex;
    list-style-type:none;
    justify-content:space-between;
}

.headline{
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.btn{
    display:inline-block;
    outline:none;
    border:none;
    cursor:pointer;
}
.btn-headline{
    padding:1rem 2rem;
    font-size:1rem;
    margin-top:1rem;
    font-weight:600;
}

.section-todo{
    margin-top:5rem;
    text-align:center;
}

.todo-list{
    text-align:left;
    font-size:1.2rem;
    list-style-type:none;
}

todo-list li{
    padding:0.7rm;
    background:grey;
    color:white;
    margin-top:1rem;
    text-transform:capitalize; 
}

.form-todo{
    border:2px solid red;
    min-height:5vh;
    display:flex;
    justify-content:space-between;

}

.form-todo input{
    min-height:100%;
}

.form-todo input[type="text"]{
    width:78%;
    padding:0.8rem;
    font-size:1rem;
    font-weight:500px;
}

.form-todo input[type="submit"]{
    width:20%;
    background:black;
    color:white;
    font-weight:bold;
}

.section-signup{
    margin:5rem auto;
    text-align:center;
    background:rgb(252, 237, 237);
    border-radius:10px;
    padding:1rem;
}
.bg-dark{
    background:balck;
    color:white;
}

.signup-form{
    max-width:800px;
    width:95%;
    text-align:left;
    margin:auto;

}

.signup-form label{
    display:block;
}

.signup-form input{
    display:block;
    width:100%;
    padding:0.5rem;
}

.form-group{
    margin-top:1rem;
}

signup-form textarea{
    width:100%;
}

.signup-btn{
    background:black;
    color:white;
    padding:1rem 2rem;
    display:block;
    margin:auto;
}



